@model ArticleModel
@using CAF.WebSite.Application.WebUI;
@if (Model.ShowInventory)
{

<div class="form-body">
    <div class="form-group">
        <label class="control-label col-md-2">
            @Html.LangLabelFor(model => model.StockQuantity)
        </label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.StockQuantity)
            @Html.ValidationMessageFor(model => model.StockQuantity)
        </div>
    </div>
    <div id="pnlMinStockQuantity" class="form-group">
        <label class="control-label col-md-2">

            @Html.LangLabelFor(model => model.MinStockQuantity)
        </label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.MinStockQuantity)
            @Html.ValidationMessageFor(model => model.MinStockQuantity)
        </div>
    </div>

    <div id="pnlAllowBackInStockSubscriptions" class="form-group">
        <label class="control-label col-md-2">

            @Html.LangLabelFor(model => model.DeliveryTimeId)
        </label>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.DeliveryTimeId, Model.AvailableDeliveryTimes, T("Common.Unspecified"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DeliveryTimeId)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">

            @Html.LangLabelFor(model => model.IsFreeShipping)
        </label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.IsFreeShipping)
            @Html.ValidationMessageFor(model => model.IsFreeShipping)
        </div>
    </div>
   
</div>

}